@import './colors';

$button-border-radius: 3px;
$button-primary-padding-vertical: 10px;
$button-primary-padding-horizontal: 20px;

$button-red-padding-vertical: 5px;
$button-red-padding-horizontal: 10px;

$modal-content-margin-bottom: 10px;
$modal-content-padding: 20px;
$modal-border-radius: 5px;

$form-group-margin-bottom: 10px;
$label-margin-bottom: 5px;
$input-padding: 5px;
$input-border: 1px solid var(--elements-light);
$input-border-radius: 3px;