@import '../../styles/abstracts/colors';

.timer-list {
  width: 50%;
  text-align: center;
  box-shadow: rgba(163, 163, 163, 0.75) 0px 0px 7px 0px;

  ul {
    margin-bottom: 110px;
    padding: 10px;
  }

  li {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    box-shadow: 1px 1px 15px -9px rgba(0,0,0,0.41);
    padding: 10px;

    span {
      text-align: left;

      width: 25%;
      hyphens: auto;
      word-break: break-word;
    }

    & .timer-message {
      font-weight: bold;
    }

    & .timer-time {
      margin: 0 10px 0 10px;
    }
  }
}
