@import '../../styles/abstracts/colors';

.timer-list {
  width: 25%;
  text-align: center;
  box-shadow: rgba(163, 163, 163, 0.75) 0px 0px 7px 0px;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;

    &-message {
      padding: 2px;
      text-align: left;
      font-weight: bold;
      width: 25%;
      hyphens: auto;
      word-break: break-word;
    }

    &-light {
      box-shadow: 1px 1px 15px -9px rgba(0,0,0,0.41);
    }

    &-dark {
      box-shadow: 1px 1px 15px -9px rgba(255, 255, 255, 0.41);
      color: var(--white);
    }
  }
}
