@import '../../styles/abstracts/colors';
@import '../../styles/abstracts/vars';
@import '../../styles/abstracts/extends';
@import '../../styles/abstracts/mixins';

.modal {
  @extend %flex_row_center;
  @include modal;

  &__content {
    @include modalContent;
  }

  &__title {
    margin-bottom: $modal-content-margin-bottom;
  }

  &__text {
    color: var(--contacts-decoration);
    margin-bottom: $modal-content-margin-bottom;
  }
}
