@import '../../styles/abstracts/colors';
@import '../../styles/abstracts/vars';

.timer-form {
  .form-group {
    margin-bottom: $form-group-margin-bottom;
  }

  label {
    display: block;
    margin-bottom: $label-margin-bottom;
  }

  input {
    padding: $input-padding;
    border: $input-border;
    border-radius: $input-border-radius;
  }
}
